h1 {
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    color: brown;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

#legend {
    height: 20px;
    width: 100px;
    background-color: #555;
    margin: auto;
    background-image: linear-gradient(to right, white, red);
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#legend2 {
    height: 300px;
    width: 50px;
    background-color: #555;
    margin: auto;
    margin-top:40px;
    background-image: linear-gradient( #005241, #e6faf6);
    border-style: solid;
    border-color: black;
    border-width: 1px;
    float: right;
}

body {
    background-color: antiquewhite;
}

#navText {
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
}