h1 {
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    color: brown;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

#legend {
    height: 20px;
    width: 100px;
    background-color: #555;
    margin: auto;
    background-image: linear-gradient(to right, white, red);
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#legend2 {
    margin: auto;
    /* background-image: linear-gradient(to right, white, rgba(0,0,255,1)); */
    float: right;
}

body {
    background-color: #9ef5ff;
}

#space {
    width: 600px;
}

#btnspace {
    width: 500px !important;
}